{% extends "static_pages/base1.html" %}
    {% block titulo %} About us {% endblock %}
    {% block encabezado %}About us {% endblock %}
    {% block link %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <a href="/login/">Login / Sing in</a>
    {% endblock %}
    
    {% block ruta %}
        <a href="/" class="active">Home</a> <span class="divider">/</span>
        <a href="/about/" class="active">About Us</a> <span class="divider">/</span>
    {% endblock ruta %}

    {% block contenido %}
    <div class="span9">
       <h1>ABOUT US</h1>
     <p>
        Conoce Tenerife Norte es un proyecto desarrollado por alumnos de la asignatura de Sistemas y Tecnologías Web, del Grado en Ingeniería Informática. Universidad de La Laguna.
        <br/>
        Se pretende con está aplicación acercar a los turistas y la gente de la isla, los senderos y lugares interesantes que pueden vivistar al Norte de Tenerife.
    </p>

    <br/>
    <h4>Desarrolladores:</h4> 
    <p>
        <ul>
            <li> Angela Hernández Delgago </li>
            <li> Madelaine Martín Pazó </li>
            <li> Jessica A. Ramos Villarreal </li>
        </ul>
    </p>
    </div>
    <div id="espacio">
    </div>
    
    {% endblock %}