{% extends "static_pages/principal.html" %}
    {% block titulo %} About us {% endblock %}
    {% block encabezado %}About us {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    {% endblock %}
    
    {% block link %}
        {% if usu_autenticado == True %}
            <a href="/logout/">Logout</a>
        {% else %}
            <a href="/login/">Login</a>
        {% endif %}
    {% endblock %}
    
    {% block ruta %}
        <a href="/" class="active">Inicio</a> <span class="divider">/</span>
        <a href="/about/" class="active">Nosotros</a> <span class="divider">/</span>
    {% endblock ruta %}

    {% block contenido %}
    <div class="span9">
          <h1> NOSOTROS </h1>
         <p>
            Conoce Tenerife Norte es un proyecto desarrollado por alumnos de la asignatura de Sistemas y Tecnologías Web, del Grado en Ingeniería Informática. Universidad de La Laguna.
            <br/>
            Se pretende con está aplicación acercar a los turistas y la gente de la isla, los senderos y lugares interesantes que pueden vivistar al Norte de Tenerife.
        </p>
    
        <br/>
        <h4>Desarrolladores:</h4> 
        </br>
        </br>
        <div class="row">
            <div class="col-lg-9">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object dp img-circle" src="http://banot.etsii.ull.es/alu4103/STW/angie.jpg" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Ángela Hernández Delgado <small>España</small></h4>
                        <h5>Software Developer at STW</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default">HTML5/CSS3</span>
                        <span class="label label-default">Google</span>
                        <span class="label label-default">Django</span>
                        <span class="label label-default">Python</span>
                        <span class="label label-default">Github</span>
                        <span class="label label-default">Javascript</span>
                        <span class="label label-default">PostgreSQL</span>
                        <span class="label label-default">Trello</span>
                    </div>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="row">
            <div class="col-lg-5">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object dp img-circle" src="http://banot.etsii.ull.es/alu4103/STW/made.jpg" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Madelaine Martín Pazó <small>España</small></h4>
                        <h5>Software Developer at STW</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default">HTML5/CSS3</span>
                        <span class="label label-default">Google</span>
                        <span class="label label-default">Django</span>
                        <span class="label label-default">Python</span>
                        <span class="label label-default">Github</span>
                        <span class="label label-default">Javascript</span>
                        <span class="label label-default">PostgreSQL</span>
                        <span class="label label-default">Trello</span>
                    </div>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="row">
            <div class="col-lg-5">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object dp img-circle" src="http://banot.etsii.ull.es/alu4103/STW/jessi.jpg" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"> Jéssica A. Ramos Villarreal <small>España</small></h4>
                        <h5>Software Developer at STW</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default">HTML5/CSS3</span>
                        <span class="label label-default">Google</span>
                        <span class="label label-default">Django</span>
                        <span class="label label-default">Python</span>
                        <span class="label label-default">Github</span>
                        <span class="label label-default">Javascript</span>
                        <span class="label label-default">PostgreSQL</span>
                        <span class="label label-default">Trello</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="espacio">
    </div>
    
    {% endblock %}