{% extends "static_pages/base1.html" %}

    {% block titulo %} Contact {% endblock %}
    {% block encabezado %}Contact {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}

    {% block link %}
        {% if usu_autenticado == True %}
            <a href="/logout/">Logout</a>
        {% else %}
            <a href="/login/">Login</a>
        {% endif %}
    {% endblock %}
    
    {% block ruta %}
        <a href="/" class="active">Inicio</a> <span class="divider">/</span>
        <a href="/contact/" class="active">Contacto</a> <span class="divider">/</span>
    {% endblock %}

    {% block contenido %}
    <div class="container">
        <h1>CONTACTO</h1>
    	<div class="container">
            <div class="row clearfix">
            	<div class="col-md-12 column">
		            <div class="row clearfix">
			            <div class="col-md-6 column">
			            </br>
            	            <iframe width="80%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/u/0/embed?mid=zsJpy2ZfCvHE.kPe0oFjnw6TQ"></iframe>
        	            </div>
        	            <div class="col-md-6 column">
                        	<p>Si desea contactar con nosotros, puede hacerlo mediante la siguiente información:</p>
                        		<ul>
                                    <li> <b>Email:</b> conocetenerifenorte@gmail.com </li>
                                    <li> <b>Dirección:</b> Cno. San Francisco de Paula, s/n. 38271 • La Laguna</li>
                                    <li> <b>Teléfono:</b> 922 84 50 59</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    
    