{% extends "static_pages/base1.html" %}

    {% block titulo %} Contact {% endblock %}
    {% block encabezado %}Contact {% endblock %}
    {% block link %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <a href="/login/">Login / Sing in</a>
    {% endblock %}
    {% block ruta %}
        <a href="/" class="active">Home</a> <span class="divider">/</span>
        <a href="/contact/" class="active">Contact Us</a> <span class="divider">/</span>
    {% endblock %}

    {% block contenido %}
    <div class="span9">
       <h1>CONTACT</h1>
        <p>
            Si desea contactar con nosotros, puede hacerlo mediante la siguiente información::
            <ul>
                <li> <b>Email:</b> conocetenerifenorte@gmail.com </li>
                <li> <b>Dirección:</b> Cno. San Francisco de Paula, s/n. 38271 • La Laguna</li>
                <li> <b>Teléfono:</b> 922 84 50 59</li>
            </ul>
        </p>
    </div>
    <div id="espacio">
    </div>
    
    {% endblock %}