{% extends "static_pages/base1.html" %}

    {% block titulo %} Contact {% endblock %}
    {% block encabezado %}Contact {% endblock %}
    {% block link %}
        <link rel="stylesheet" type="text/css" href="/static/css/contact_form.css">
    {% endblock %}

    {% block contenido %}
    <div class="span9">
     <h1>HELP</h1>
     <br/>
    <p>
      <h4> 1. ¿Qué es CTN? </h4>
    
          <h5> Página web donde los amantes de la naturaleza pondrán encontrar información de los lugares que desean conocer.</h5>
    </p><br/>
    
    <p>
      <h4> 2. ¿Cómo me puedo poner en contacto con CTN?<h4>
    
          <h5> En la sección Contact dispone del e-mail del administrador. Cualquier duda dirigase a la página.</h5>
    </p><br/>
    
    <p>
      <h4> 3. ¿Dónde puedo mirar los senderos?
    
         <h5> En la página habilitada para ello.</h5>
    </p><br/>
    <br/>
    </div>
    <div id="espacio">
    </div>
    
    {% endblock %}