{% extends "static_pages/principal.html" %}
    {% block titulo %} Contact {% endblock %}
    {% block encabezado %}Contact {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}

    {% block link %}
      {% if usu_autenticado == True %}
          <a href="/logout/">Logout</a>
      {% else %}
          <a href="/login/">Login</a>
      {% endif %}
    {% endblock %}

    {% block ruta %}
      <a href="/" class="active">Inicio</a> <span class="divider">/</span>
      <a href="/help/" class="active">Ayuda</a> <span class="divider">/</span>
    {% endblock ruta %}

    {% block contenido %}
    <div class="span9">
     <h1>HELP</h1>
     <br/>
    <p>
      <h4> 1. ¿Qué es CTN? </h4>
    
          <h5> Página web donde los amantes de la naturaleza pondrán encontrar información de los lugares que desean conocer.</h5>
    </p><br/>
    
    <p>
      <h4> 2. ¿Cómo me puedo poner en contacto con CTN?<h4>
    
          <h5> En la sección Contact dispone del e-mail del administrador. Cualquier duda dirigase a la página.</h5>
    </p><br/>
    
    <p>
      <h4> 3. ¿Dónde puedo mirar los Senderos?
    
         <h5> En la sección Senderos y elegir allí cual desea hacer.</h5>
    </p><br/>
    <p>
      <h4> 3. ¿Dónde puedo mirar las Actividades?
    
         <h5> En la sección Actividades, donde encontrará una amplia variedad según Municipio.</h5>
    </p>
    <br/>
    <p>
      <h4> 3. ¿Dónde puedo mirar los Municipios?
    
         <h5> En la sección Municipios, donde encontrará un poco de informacion de cada uno de ellos..</h5>
    </p>
    </div>
    <div id="espacio">
    </div>
    
    {% endblock %}