{% extends "static_pages/base1.html" %}

    {% block titulo %} Senderos {% endblock %}
    {% block encabezado %}Senderos {% endblock %}
    {% block link %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}
    {% block ruta %}
        <a href="/" class="active">Home</a> <span class="divider">/</span>
        <a href="/senderos/" class="active">Senderos</a> <span class="divider">/</span>
        <a href="/brena/" class="active">Las Breñas y Paseo Litoral Costa Acentejo</a> <span class="divider">/</span>
    {% endblock %}

    {% block contenido %}
        <div class="container">
    	   	<div class="row clearfix">
		        <div class="col-md-12 column">
			        <a href="/senderos/" class="active"><button type="button" class="btn btn-info">Atrás</button></a>
		        </div>
	        </div>
        </div>
        <div class="span9">
            <center><h1>LAS BREÑAS Y PASEO LITORAL COSTA ACENTEJO</h1>
            </br>
            <div class="container">
	            <div class="row clearfix">
		            <div class="col-md-12 column">
			            <div class="row clearfix">
				            <div class="col-md-6 column">
					            <p>
						            AQUI MAPA
					            </p>
				            </div>
				            <div class="col-md-6 column">
					            <p>
					            AQUI INFO DEL SENDERO
					            </p>
				            </div>
			            </div>
		            </div>
	            </div>
            </div></center>
        <div id="espacio">
        </div>
    {% endblock %}