{% extends "static_pages/base1.html" %}
    {% block titulo %} About us {% endblock %}
    {% block encabezado %}About us {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}
    
    {% block ruta %}
        <a href="/" class="active">Inicio</a> <span class="divider">/</span>
        <a href="/about/" class="active">Nosotros</a> <span class="divider">/</span>
    {% endblock ruta %}

    {% block contenido %}
    <div class="span9">
       <h1>PROBANDO</h1>

    </div>
    
    {% endblock %}