{% extends "senderos_info.html" %}
	{% block punto %}
		<h3>Califica </h3>
            <ul class='star-rating'>
        
                <li style="display:inline;" class="star"><a href='/votos/1' title='No Recomendable' class='one-star'><img  class="hov" src="../../static/img/sendero.jpg" ></a></li>
                <li style="display:inline;" class="star"><a href='/votos/2' title='Regular' class='two-stars'><img  class="hov" src="../../static/img/sendero.jpg"></a></li>
                <li style="display:inline;" class="star"><a href='/votos/3' title='Bien' class='three-stars'><img class="hov" src="../../static/img/sendero.jpg"></a></li>
                <li style="display:inline;" class="star"><a href='/votos/4' title='MuyBien' class='four-stars'><img class="hov" src="../../static/img/sendero.jpg"></a></li>
            </ul>    
    {% endblock %}