{% extends "static_pages/base1.html" %}

    {% block titulo %} Senderos {% endblock %}
    {% block encabezado %}Senderos {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}
    {% block ruta %}
        <a href="/" class="active">Inicio</a> <span class="divider">/</span>
        <a href="/senderos/" class="active">Senderos</a> <span class="divider">/</span>
        <a href="/sauzal/" class="active">Sauzal</a> <span class="divider">/</span>
    {% endblock %}

    {% block contenido %}
        <div class="span9">
            <h1>El Sauzal</h1>
                <ul>
                    <li>
                	    <a href="http://www.elsauzal.es/index.php/mod.pags/mem.detalle/idpag.479/cat.950/chk.6951e4b931102db0ea0b45d1e58d05d5.html">Senderos de Las Breñas y Paseo Litoral Costa Acentejo</a>
                	</li>
                </ul>
        </div>
    {% endblock %}