{% extends "static_pages/base1.html" %}

    {% block link %}
        <a href="/logout/">Logout / Sing in</a>
    {% endblock %}

    {% block contenido %}

        {% load gravatar %}
   
        <div>
            <div class="col-sm-1 col-md-2">
                <img src="{% gravatar_url user.email 100 %}"
                alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-2 col-md-4">
                <blockquote>
                    <p>{{ user.username }}</p> 
                </blockquote>
                <p> <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                </p>
            </div>
        </div>

        
    {% endblock %}
    <!--<a href="{% url 'socialauth_disconnect' 'google-oauth2' %}">Disconnect</a>-->
