{% extends "static_pages/base1.html" %}

    {% block link %}
        <a href="/logout/">Logout</a>
    {% endblock %}
    
    {% block ruta %}
        <a href="/" class="active">Inicio</a> <span class="divider">/</span>
        <a href="/login/" class="active">Perfil</a> <span class="divider">/</span>
        
    {% endblock ruta %}

    {% block contenido %}
        {% load gravatar %}
        <div class="container">
	        <div class="row">
                <div class="col-sm-2 col-md-2">
                    <img src="{% gravatar_url user.email 100 %}"
                        alt="" class="img-rounded img-responsive"/>
                </div>
                <div class="col-sm-4 col-md-4">
                    <blockquote>
                        <h3>Hola, {{ user.username }}!</h3> 
                    </blockquote>
                        <p> <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row clearfix">
            	<div class="col-md-12 column">
		            <div class="row clearfix">
			            <div class="col-md-6 column">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h4>FOTOS </h4>
                            {% for i in ver %}
                                <div class="carousel slide" id="carousel-955673">
            						<ol class="carousel-indicators">
            							<li data-slide-to="{{ i.id  }}" data-target="#carousel-955673">
            							</li>
            						</ol>
            						<div class="carousel-inner">
            							<div class="item">
            								<img alt="" src="{{ i.Imagen }}" />
            							</div>
            						</div> <a class="left carousel-control" href="#carousel-955673" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-955673" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            					</div>
            				{% endfor %}
                        </div>
                            <div class="col-md-6 column">
                                <h2>COMENTARIOS</h2>
                                {% for i in ver %}
                                    {{ i.comment }}
                                {% endfor %}
    				        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
